.header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  /*display: flex;
  align-self: auto; not needed */
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  
}

ul {
  display: flex;
  /*justify-content: space-between; not needed*/
  gap: 8px;
  /* margin: 10px; not needed */
  margin: 0; /* corrected (I had this then changed it)*/
  padding: 0;
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  
}